/* INDEX AND GENERAL RULES */

.hide {
    display: none;
}

.required-color {
    color: red;
}

.premove {
    padding: 0px;
    margin: 0px;
}

#footer {
    font-size: 15px;
}

#dancodes-logo {
    max-width: 20px;
}

.tac {
    text-align: center;
}

.links {
    text-decoration: none !important;
    color: #ff000085;
}

.links:hover {
    color: red;
}

.parallax-home-beer-title {
    color: white;
    padding-top: 200px;
}

.display-clarity {
    background-color: #000000c2;
}

.parallax-home-beer {
  /* The image used */
  background-image: url("../img/beer-p-back.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ABOUT PAGE */

.about-top-info {
    margin: 20px;
}

/* CONTACT PAGE */

/* COVID PAGE */

.opening-hours {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* BOOKING PAGE */

.img-conf {
    
}