#footer {
    font-size: 15px;
}

#dancodes-logo {
    max-width: 20px;
}

.tac {
    text-align: center;
}

.parallax-home-beer {
  /* The image used */
  background-image: url("../img/beer-p-back.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}